# BAIS:3250 - Final Project
### Cleaning World Data

**Author(s):** Natalie Brown, Max Kaiser

**Date Modified:** 11-14-2024 (*date created:* 11-13-2024)


**Description:** Clean world data from csv file that was downloaded from Kaggle

---

### Import Libaries
* **pandas:** for data frames and data cleaning functions

In [2]:
import pandas as pd

---
### Load Data
* **world-data-2023.csv**

In [5]:
# load file
world_df=pd.read_csv('world-data-2023.csv',sep=',',encoding='utf-8',header=0)

In [7]:
# display header
world_df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

---
### Perform Initial Discovery
- [x] data frame size
- [x] columns
- [x] nulls
- [x] data types

In [10]:
# data frame size
shape=world_df.shape
print(f'World Data Shape\n------------------\nColumns: {shape[1]}\nRows: {shape[0]}')

World Data Shape
------------------
Columns: 35
Rows: 195

In [14]:
# columns
print(f'World Data Columns\n-------------------\n{world_df.columns}')

World Data Columns
-------------------
Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [20]:
# data types
print(f'World Data Types\n------------------------\n{world_df.dtypes}')

World Data Types
------------------------
Country                                       object
Density\n(P/Km2)                              object
Abbreviation                                  object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Calling Code                                 float64
Capital/Major City                            object
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Currency-Code                                 object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Largest city                                  object
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Official language                             object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                    object
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                              object
Latitude                                     float64
Longitude                                    float64
dtype: object

In [22]:
# nulls
# display nulls again
null_counts=world_df.isna().sum()
null_percentages=round((world_df.isna().sum()/shape[0])*100,2)

# data frame for results
nulls_df=pd.DataFrame({
    'Nulls':null_counts,
    'Nulls (%)':null_percentages
})

# display
print("World Data Nulls")
nulls_df

World Data Nulls

                                           Nulls  Nulls (%)
Country                                        0       0.00
Density\n(P/Km2)                               0       0.00
Abbreviation                                   7       3.59
Agricultural Land( %)                          7       3.59
Land Area(Km2)                                 1       0.51
Armed Forces size                             24      12.31
Birth Rate                                     6       3.08
Calling Code                                   1       0.51
Capital/Major City                             3       1.54
Co2-Emissions                                  7       3.59
CPI                                           17       8.72
CPI Change (%)                                16       8.21
Currency-Code                                 15       7.69
Fertility Rate                                 7       3.59
Forested Area (%)                              7       3.59
Gasoline Price                                20      10.26
GDP                                            2       1.03
Gross primary education enrollment (%)         7       3.59
Gross tertiary education enrollment (%)       12       6.15
Infant mortality                               6       3.08
Largest city                                   6       3.08
Life expectancy                                8       4.10
Maternal mortality ratio                      14       7.18
Minimum wage                                  45      23.08
Official language                              5       2.56
Out of pocket health expenditure               7       3.59
Physicians per thousand                        7       3.59
Population                                     1       0.51
Population: Labor force participation (%)     19       9.74
Tax revenue (%)                               26      13.33
Total tax rate                                12       6.15
Unemployment rate                             19       9.74
Urban_population                               5       2.56
Latitude                                       1       0.51
Longitude                                      1       0.51

---
### Perform Inital Cleaning
- [ ] remove unnecessary columns
- [ ] rename columns (snake case)
- [ ] fix data types
    * displaying values first to get formatting
    * features to be fixed
        - [ ]  
        - [ ]   f
*null imputation done in next section after determining proper method*

---
### Save Data
* **new csv file name**

In [7]:
# example save code
# df.to_csv('new_file.csv',sep=',',encoding='utf-8')