# BAIS:3250 - Final Project
### Clean Merged Countries Data Frame

**Author(s):** Natalie Brown, Max Kaiser

**Date Modified:** 11-19-2024 (*Date Created:* 11-19-2024)


**Description:** Clean the merged Countries data frame by dropping and renaming columns, discovering nulls and imputing correctly, etc.

---

### Import Libaries
* **pandas:** for data frames and data cleaning functions

In [3]:
import pandas as pd

---
### Load Data
* **country_merged_raw.csv**

In [6]:
# load
country_df=pd.read_csv('country_merged_raw.csv',sep=',',encoding='utf-8')

# display header
country_df.head()

,country_x,birth_rt,currency_code,fertility_rt,infant_mortality_rt,life_expectancy,official_language,physicians_per_thousand,lat,long,...,population_x,tax_revenue_pct,unemployment_rt,country_edited,country_y,continent,covid_cases,covid_deaths,area_km2,population_y
0,Afghanistan,32.49,AFN,4.47,47.9,64.5,Pashto,0.28,33.939110,67.709953,...,38041754.0,9.3,11.12,Afghanistan,Afghanistan,Asia,46498,1774,652000,39306195
1,Albania,11.78,ALL,1.62,7.8,78.5,Albanian,1.20,41.153332,20.168331,...,2854191.0,18.6,12.33,Albania,Albania,Europe,37625,798,28748,2876490
2,Algeria,24.28,DZD,3.02,20.1,76.7,Arabic,1.72,28.033886,1.659626,...,43053054.0,37.2,11.70,Algeria,Algeria,Africa,83199,2431,2381741,44190030
3,Andorra,7.20,EUR,1.27,2.7,NaN,Catalan,3.33,42.506285,1.521801,...,77142.0,NaN,NaN,Andorra,Andorra,Europe,6712,76,468,77317
4,Angola,40.73,AOA,5.52,51.6,60.8,Portuguese,0.21,-11.202692,17.873887,...,31825295.0,9.2,6.89,Angola,Angola,Africa,15139,348,1246620,33312843

---
### Fix Columns
- [ ] Review all columns
- [ ] Review duplicate columns
- [ ] Drop unecessary columns
- [ ] Rename columns (if necessary)


- duplicate kaggle columns are denoted by x
- duplicate api columns are denoted by y

**review columns**

- duplicate columns
    - country_x - country_y

In [11]:
# get list
columns_list=country_df.columns

# display
for column in columns_list:
    print(column)

country_x
birth_rt
currency_code
fertility_rt
infant_mortality_rt
life_expectancy
official_language
physicians_per_thousand
lat
long
ag_land_pct
land_area_km2
consumer_price_index
gross_domestic_product_USD(b)
primary_education_enrollment_pct
secondary_education_enrollment_pct
population_x
tax_revenue_pct
unemployment_rt
country_edited
country_y
continent
covid_cases
covid_deaths
area_km2
population_y

---
### Save Data
* **new csv file name**

In [7]:
# example save code
# df.to_csv('new_file.csv',sep=',',encoding='utf-8')