# BAIS:3250 - Final Project
### Clean Merged Countries Data Frame

**Author(s):** Natalie Brown, Max Kaiser

**Date Modified:** 11-19-2024 (*Date Created:* 11-19-2024)


**Description:** Clean the merged Countries data frame by dropping and renaming columns, discovering nulls and imputing correctly, etc.

---

### Import Libaries
* **pandas:** for data frames and data cleaning functions

In [3]:
import pandas as pd

---
### Load Data
* **country_merged_raw.csv**

In [5]:
# load
country_df=pd.read_csv('04_country_merged_raw.csv',sep=',',encoding='utf-8')

# display header
country_df.head()

,country_x,birth_rt,currency_code,fertility_rt,infant_mortality_rt,life_expectancy,official_language,physicians_per_thousand,lat,long,...,population_x,tax_revenue_pct,unemployment_rt,country_edited,country_y,continent,covid_cases,covid_deaths,area_km2,population_y
0,Afghanistan,32.49,AFN,4.47,47.9,64.5,Pashto,0.28,33.939110,67.709953,...,38041754.0,9.3,11.12,Afghanistan,Afghanistan,Asia,46498,1774,652000,39306195
1,Albania,11.78,ALL,1.62,7.8,78.5,Albanian,1.20,41.153332,20.168331,...,2854191.0,18.6,12.33,Albania,Albania,Europe,37625,798,28748,2876490
2,Algeria,24.28,DZD,3.02,20.1,76.7,Arabic,1.72,28.033886,1.659626,...,43053054.0,37.2,11.70,Algeria,Algeria,Africa,83199,2431,2381741,44190030
3,Andorra,7.20,EUR,1.27,2.7,NaN,Catalan,3.33,42.506285,1.521801,...,77142.0,NaN,NaN,Andorra,Andorra,Europe,6712,76,468,77317
4,Angola,40.73,AOA,5.52,51.6,60.8,Portuguese,0.21,-11.202692,17.873887,...,31825295.0,9.2,6.89,Angola,Angola,Africa,15139,348,1246620,33312843

---
### Fix Columns
- [ ] Review all columns
- [ ] Review duplicate columns
- [ ] Drop unecessary columns
- [ ] Rename columns (if necessary)


- duplicate kaggle columns are denoted by x
- duplicate api columns are denoted by y

# Reviewing all Columns

In [8]:

# Display column names and data types
print(country_df.info())

# Show the first few rows to get an idea of the dataset
country_df.head()

# List all column names
print(country_df.columns.tolist())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 26 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   country_x                           184 non-null    object
 1   birth_rt                            181 non-null    float64
 2   currency_code                       171 non-null    object
 3   fertility_rt                        180 non-null    float64
 4   infant_mortality_rt                 181 non-null    float64
 5   life_expectancy                     179 non-null    float64
 6   official_language                   179 non-null    object
 7   physicians_per_thousand             180 non-null    float64
 8   lat                                 183 non-null    float64
 9   long                                183 non-null    float64
 10  ag_land_pct                         180 non-null    float64
 11  land_area_km2                       184 non-null    float64
 12  consumer_price_index                171 non-null    float64
 13  gross_domestic_product_USD(b)       184 non-null    float64
 14  primary_education_enrollment_pct    180 non-null    float64
 15  secondary_education_enrollment_pct  175 non-null    float64
 16  population_x                        184 non-null    float64
 17  tax_revenue_pct                     162 non-null    float64
 18  unemployment_rt                     169 non-null    float64
 19  country_edited                      184 non-null    object
 20  country_y                           184 non-null    object
 21  continent                           184 non-null    object
 22  covid_cases                         184 non-null    int64
 23  covid_deaths                        184 non-null    int64
 24  area_km2                            184 non-null    int64
 25  population_y                        184 non-null    int64
dtypes: float64(16), int64(4), object(6)
memory usage: 37.5+ KB
None
['country_x', 'birth_rt', 'currency_code', 'fertility_rt', 'infant_mortality_rt', 'life_expectancy', 'official_language', 'physicians_per_thousand', 'lat', 'long', 'ag_land_pct', 'land_area_km2', 'consumer_price_index', 'gross_domestic_product_USD(b)', 'primary_education_enrollment_pct', 'secondary_education_enrollment_pct', 'population_x', 'tax_revenue_pct', 'unemployment_rt', 'country_edited', 'country_y', 'continent', 'covid_cases', 'covid_deaths', 'area_km2', 'population_y']

# Reviewing Duplicate Columns

In [10]:

# List of duplicate columns
duplicate_columns = {
    'country': ['country_x', 'country_y'],
    'population': ['population_x', 'population_y'],
    'land_area': ['land_area_km2', 'area_km2']
}

print("Duplicate Columns Identified:")
for key, cols in duplicate_columns.items():
    print(f"{key}: {cols}")

Duplicate Columns Identified:
country: ['country_x', 'country_y']
population: ['population_x', 'population_y']
land_area: ['land_area_km2', 'area_km2']

# Comparing Duplicate Columns

In [12]:
# Compare Duplicate dataframe_columns countries

# Compare 'country_x' and 'country_y'
country_match = country_df['country_x'].equals(country_df['country_y'])
print(f"Are 'country_x' and 'country_y' identical? {country_match}")

# If not identical, display mismatches
if not country_match:
    mismatches = country_df[country_df['country_x'] != country_df['country_y']]
    print("Mismatched Countries:")
    print(mismatches[['country_x', 'country_y']].head())

Are 'country_x' and 'country_y' identical? False
Mismatched Countries:
              country_x            country_y
5   Antigua and Barbuda  Antigua And Barbuda
11          The Bahamas              Bahamas
28          Ivory Coast        Cote D'Ivoire
53             Eswatini            Swaziland
59           The Gambia               Gambia

In [13]:
# Compare duplicates ddataframe_columns populations 

# Compare 'population_x' and 'population_y'
population_match = country_df['population_x'].equals(country_df['population_y'])
print(f"Are 'population_x' and 'population_y' identical? {population_match}")

# If not identical, display some differences
if not population_match:
    population_diff = country_df[country_df['population_x'] != country_df['population_y']]
    print("Differences in Population:")
    print(population_diff[['country_x', 'population_x', 'population_y']].head())

Are 'population_x' and 'population_y' identical? False
Differences in Population:
     country_x  population_x  population_y
0  Afghanistan    38041754.0      39306195
1      Albania     2854191.0       2876490
2      Algeria    43053054.0      44190030
3      Andorra       77142.0         77317
4       Angola    31825295.0      33312843

In [14]:
# Compare duplicates land area

# Compare 'land_area_km2' and 'area_km2'
land_area_match = country_df['land_area_km2'].equals(country_df['area_km2'])
print(f"Are 'land_area_km2' and 'area_km2' identical? {land_area_match}")

# If not identical, display some differences
if not land_area_match:
    land_area_diff = country_df[country_df['land_area_km2'] != country_df['area_km2']]
    print("Differences in Land Area:")
    print(land_area_diff[['country_x', 'land_area_km2', 'area_km2']].head())

Are 'land_area_km2' and 'area_km2' identical? False
Differences in Land Area:
             country_x  land_area_km2  area_km2
0          Afghanistan       652230.0    652000
4               Angola      1246700.0   1246620
5  Antigua and Barbuda          443.0       440
8            Australia      7741220.0   7617930
9              Austria        83871.0     83879

*after doing research **area_km2** is the total area of the country (including water bodies)*

# Deciding which Columns to Keep

In [17]:
# Handling country differences 
# Drop 'country_y' if 'country_x' is preferred
country_df = country_df.drop(columns=['country_y'])

# Rename 'country_x' to 'country'
country_df = country_df.rename(columns={'country_x': 'country'})

In [18]:
# Handling population differences 

# Create 'average_population' column
country_df['average_population'] = country_df[['population_x', 'population_y']].mean(axis=1)

# Optionally, round the population to integers
country_df['average_population'] = country_df['average_population'].round(0).astype(int)

# Drop the original population columns
country_df = country_df.drop(columns=['population_x', 'population_y'])

In [19]:
# rename area to total area for clarification
country_df = country_df.rename(columns={'area_km2': 'total_area_km2'})

# Verifying Changes

In [21]:
# Checking changes made
# Display updated column names
print("Updated Columns:")
print(country_df.columns.tolist())

# Display the first few rows to verify changes
country_df.head()

Updated Columns:
['country', 'birth_rt', 'currency_code', 'fertility_rt', 'infant_mortality_rt', 'life_expectancy', 'official_language', 'physicians_per_thousand', 'lat', 'long', 'ag_land_pct', 'land_area_km2', 'consumer_price_index', 'gross_domestic_product_USD(b)', 'primary_education_enrollment_pct', 'secondary_education_enrollment_pct', 'tax_revenue_pct', 'unemployment_rt', 'country_edited', 'continent', 'covid_cases', 'covid_deaths', 'total_area_km2', 'average_population']

,country,birth_rt,currency_code,fertility_rt,infant_mortality_rt,life_expectancy,official_language,physicians_per_thousand,lat,long,...,primary_education_enrollment_pct,secondary_education_enrollment_pct,tax_revenue_pct,unemployment_rt,country_edited,continent,covid_cases,covid_deaths,total_area_km2,average_population
0,Afghanistan,32.49,AFN,4.47,47.9,64.5,Pashto,0.28,33.939110,67.709953,...,104.0,9.7,9.3,11.12,Afghanistan,Asia,46498,1774,652000,38673974
1,Albania,11.78,ALL,1.62,7.8,78.5,Albanian,1.20,41.153332,20.168331,...,107.0,55.0,18.6,12.33,Albania,Europe,37625,798,28748,2865340
2,Algeria,24.28,DZD,3.02,20.1,76.7,Arabic,1.72,28.033886,1.659626,...,109.9,51.4,37.2,11.70,Algeria,Africa,83199,2431,2381741,43621542
3,Andorra,7.20,EUR,1.27,2.7,NaN,Catalan,3.33,42.506285,1.521801,...,106.4,NaN,NaN,NaN,Andorra,Europe,6712,76,468,77230
4,Angola,40.73,AOA,5.52,51.6,60.8,Portuguese,0.21,-11.202692,17.873887,...,113.5,9.3,9.2,6.89,Angola,Africa,15139,348,1246620,32569069

# FInal Cleanup and Standarization

In [23]:
# Standardize column names
country_df.columns = country_df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')

print("Standardized Column Names:")
print(country_df.columns.tolist())

Standardized Column Names:
['country', 'birth_rt', 'currency_code', 'fertility_rt', 'infant_mortality_rt', 'life_expectancy', 'official_language', 'physicians_per_thousand', 'lat', 'long', 'ag_land_pct', 'land_area_km2', 'consumer_price_index', 'gross_domestic_product_usd(b)', 'primary_education_enrollment_pct', 'secondary_education_enrollment_pct', 'tax_revenue_pct', 'unemployment_rt', 'country_edited', 'continent', 'covid_cases', 'covid_deaths', 'total_area_km2', 'average_population']

**review columns**

- duplicate columns
    - country_x - country_y

In [25]:
# get list
columns_list=country_df.columns

# display
for column in columns_list:
    print(column)

country
birth_rt
currency_code
fertility_rt
infant_mortality_rt
life_expectancy
official_language
physicians_per_thousand
lat
long
ag_land_pct
land_area_km2
consumer_price_index
gross_domestic_product_usd(b)
primary_education_enrollment_pct
secondary_education_enrollment_pct
tax_revenue_pct
unemployment_rt
country_edited
continent
covid_cases
covid_deaths
total_area_km2
average_population

---
### Save Data
* **new csv file name**

In [27]:
# example save code
# df.to_csv('new_file.csv',sep=',',encoding='utf-8')

# Save the cleaned DataFrame to a new CSV
country_df.to_csv('05_country_merged_clean.csv', index=False, encoding='utf-8')
print("Cleaned dataset saved as 'country_merged_clean.csv'")

Cleaned dataset saved as 'country_merged_clean.csv'