# BAIS:3250 - Final Project
### Data Transformation

**Author(s):** Natalie Brown, Max Kaiser

**Date Modified:** 11-21-2024 (*date created:* 11-21-2024)


**Description:** Transforming columns and dropping / imputing nulls for final dataset

---

### Import Libaries
* **pandas:** for data frames and data cleaning functions

In [3]:
import pandas as pd

---
### Load Data
* **country_merged_clean.csv**

In [6]:
# load data
country_df=pd.read_csv('country_merged_clean.csv',sep=',',encoding='utf-8')

# display
country_df.head()

,country,birth_rt,currency_code,fertility_rt,infant_mortality_rt,life_expectancy,official_language,physicians_per_thousand,lat,long,...,primary_education_enrollment_pct,secondary_education_enrollment_pct,tax_revenue_pct,unemployment_rt,country_edited,continent,covid_cases,covid_deaths,total_area_km2,average_population
0,Afghanistan,32.49,AFN,4.47,47.9,64.5,Pashto,0.28,33.939110,67.709953,...,104.0,9.7,9.3,11.12,Afghanistan,Asia,46498,1774,652000,38673974
1,Albania,11.78,ALL,1.62,7.8,78.5,Albanian,1.20,41.153332,20.168331,...,107.0,55.0,18.6,12.33,Albania,Europe,37625,798,28748,2865340
2,Algeria,24.28,DZD,3.02,20.1,76.7,Arabic,1.72,28.033886,1.659626,...,109.9,51.4,37.2,11.70,Algeria,Africa,83199,2431,2381741,43621542
3,Andorra,7.20,EUR,1.27,2.7,NaN,Catalan,3.33,42.506285,1.521801,...,106.4,NaN,NaN,NaN,Andorra,Europe,6712,76,468,77230
4,Angola,40.73,AOA,5.52,51.6,60.8,Portuguese,0.21,-11.202692,17.873887,...,113.5,9.3,9.2,6.89,Angola,Africa,15139,348,1246620,32569069

---
### Null Display
* determine how many nulls are in each column, should they be imputed or dropped?
* We will look up data for nulls on WHO website and create a map to impute (world health organization)
* nulls columns:
  - [ ] lat
  - [ ] long
  - [ ] infant mortality_rt
  - [ ] birth_rt
  - [ ] ~ag_land_pct~
      * we can drop this because we have data to compute a new column ourselves
  - [ ] physicians per thousand
  - [ ] fertility rt
  - [ ] primary education enrollment_pct
  - [ ] life expectancy
  - [ ] secondary_education_enrollment_pct
  - [ ] currency_code
  - [ ] consuer_price_index
  - [ ] unemployment_rt
  - [ ] tax_revenue_pct

In [18]:
# function for nulls, returns a dataframe with nulls
def df_nulls(df):
    null_counts=country_df.isna().sum()
    null_percentages=round((df.isna().sum()/df.shape[0])*100,2)

    # data frame for results
    nulls_df=pd.DataFrame({
        'Nulls':null_counts,
        'Nulls (%)':null_percentages
    })
    
    # display
    print("Country Data Nulls")
    display(nulls_df.sort_values(by='Nulls',ascending=False))

df_nulls(country_df)

Country Data Nulls

                                    Nulls  Nulls (%)
tax_revenue_pct                        22      11.96
unemployment_rt                        15       8.15
consumer_price_index                   13       7.07
currency_code                          13       7.07
secondary_education_enrollment_pct      9       4.89
life_expectancy                         5       2.72
official_language                       5       2.72
primary_education_enrollment_pct        4       2.17
fertility_rt                            4       2.17
physicians_per_thousand                 4       2.17
ag_land_pct                             4       2.17
infant_mortality_rt                     3       1.63
birth_rt                                3       1.63
long                                    1       0.54
lat                                     1       0.54
covid_deaths                            0       0.00
total_area_km2                          0       0.00
continent                               0       0.00
covid_cases                             0       0.00
country                                 0       0.00
country_edited                          0       0.00
gross_domestic_product_usd(b)           0       0.00
land_area_km2                           0       0.00
average_population                      0       0.00

---
### Save Data
* **new csv file name**

In [7]:
# example save code
# df.to_csv('new_file.csv',sep=',',encoding='utf-8')